/* *{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    
}

.gameover{
    
    position: relative;
    top: 253px;
    font-size: 46px;
    color: red;
    font-family: 'Roboto Mono';
    text-align: center;
} 
.yourscore{
    position: absolute;
    border: 4px solid whitesmoke;
    border-radius: 8px;
    padding: 14px;
    font-size: 34px;
    background-color: rgb(146, 196, 205);
    left: 1162px;
    font-family: sans-serif
}
.gamecontainer{
    background-image: url(village.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100%;
}
.dino{
    background-image: url(bheem2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 181px;
    height: 156px;
    position: absolute;
    bottom: 3px;
    left: 12px;
}
.obstacle{
    background-image: url(buffalow.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 199px;
    height: 126px;
    position: absolute;
    bottom: 0px;
    left: 722px;
}
.animateDino{
    animation: dinoani 0.6s linear;
}
@keyframes dinoani{
    0%{
      bottom: 0;  
    }
    50%{
        bottom: 422px;  
        
    }
    100%{
        bottom: 0px; 
        
    }
}

.obstacleani{
    animation: obstacleani 3s linear infinite
}
@keyframes obstacleani{
    0%{
      left: 100vw;  
    }
    100%{
        left: -10px;  
        
    }
} */




*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    
}

.gameover{
    
    position: relative;
    top: 253px;
    font-size: 46px;
    color: red;
    font-family: 'Roboto Mono';
    text-align: center;
} 
.yourscore{
    position: absolute;
    border: 4px solid whitesmoke;
    border-radius: 8px;
    padding: 14px;
    font-size: 34px;
    background-color: rgb(158, 153, 153);
    left: 1162px;
    font-family: sans-serif
}
.gamecontainer{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100%;
}
.dino{
    background-image: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 233px;
    height: 100px;
    position: absolute;
    bottom: 3px;
    left: 12px;
}
.obstacle{
    background-image: url(dragon.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 124px;
    height: 79px;
    position: absolute;
    bottom: 0px;
    left: 722px;
}
.animateDino{
    animation: dinoani 0.6s linear;
}
@keyframes dinoani{
    0%{
      bottom: 0;  
    }
    50%{
        bottom: 422px;  
        
    }
    100%{
        bottom: 0px; 
        
    }
}

.obstacleani{
    animation: obstacleani 2s linear infinite
}
@keyframes obstacleani{
    0%{
      left: 100vw;  
    }
    100%{
        left: -10px;  
        
    }
}

